$body-bg: white;
$font-family-sans-serif: Helvetica, Arial, 'Microsoft YaHei', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$tooltip-bg: #333;
$tooltip-color: white;
$tooltip-max-width: 800px;
