$primary-fg-color: white;
$primary-bg-color: #109090;
$border-color: #444;
$th-bg-color: #4e4e4e;
$th-abil-bg-color: #536d94;

$navbar-height: 48px;
$main-page-top-gap: 60px;
$field-gap: 18px;
$field-padding: 12px;

$personal-info-avatar-size: 160px;

$table-cell-border: 1px solid $border-color;
