@import 'env';
@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'dark';

body {
    div.main {
        table {
            caption {
                display: none;
            }

            &.info-table {
                width: 100%;
            }

            th, td {
                border: $table-cell-border;
                padding: $cell-padding;
                text-align: left;
            }
        }

        div.page {
            margin: $navbar-height + $main-page-top-gap auto 0;
            min-width: $min-content-width;
            max-width: $max-content-width;

            div.content {
                div.field {
                    border: $table-cell-border;
                    margin-bottom: $field-gap;
                    padding: $field-padding;

                    h3.title {
                        font-size: $h3-title-size;
                        font-weight: $h3-title-weight;
                        margin-bottom: $h3-title-margin-bottom;
                    }
                }
            }
        }
    }

    span.rattr {
        color: $primary-bg-color;
    }
}
