@import 'variables';
@import 'env';
@import 'bootstrap/scss/bootstrap';
@import 'dark';
@import 'light';

body {
    div.main {
        margin: {
            top: $main-page-top-gap;
            bottom: 0;
        }

        table {
            caption {
                display: none;
            }

            &.info-table {
                width: 100%;
            }

            th, td {
                border: $table-cell-border;
                padding: $cell-padding;
                text-align: left;
            }
        }

        div.page {
            margin: auto;
            min-width: $min-content-width;
            max-width: $max-content-width;

            div.content {
                div.field {
                    border: $table-cell-border;
                    margin-bottom: $field-gap;
                    padding: $field-padding;

                    h3.title {
                        font-size: $h3-title-size;
                        font-weight: $h3-title-weight;
                        margin-bottom: $h3-title-margin-bottom;
                    }

                    div.row.form {
                        div.col {
                            flex: 0 0 auto;
                        }
                    }

                    button {
                        outline: 0;
                        transition: var(--btn-transition);

                        &:active {
                            background-color: var(--btn-active-bg-color) !important;
                            border-color: var(--btn-active-border-color);
                            box-shadow: var(--btn-shadow);
                        }

                        &.btn-positive {
                            background-color: var(--btn-positive-bg-color);

                            &:hover {
                                background: var(--btn-positive-hover-bg-color);
                                border-color: var(--btn-positive-hover-border);
                            }
                        }

                        &.btn-negative {
                            background-color: var(--btn-negative-bg-color);

                            &:hover {
                                background: var(--btn-hover-bg-color);
                                border-color: var(--btn-negative-hover-border);
                            }
                        }
                    }
                }
            }
        }
    }

    span.rattr {
        color: var(--primary-bg-color);
    }
}
