{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "files.insertFinalNewline": true,
    "htmlWhitespaceSensitivity": "ignore",
    "javascript.format.insertSpaceBeforeFunctionParenthesis": true,
    "printWidth": 1000,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}